body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#header{
    width: 100%;
    margin: 0 0 0 20px;
    padding: 0;
}

#header > h1{
    color: #0266C8;
    width: 100%;
    font-weight: bold;
}

#header > form{
    
}
#header > div{
    margin-top: 20px;
}

#header > div.actions button{
    font-size: 12px;
    border: solid 1px #0266c8;
    background-color: #0266c8;
    color: white;
}
div,p,a{
    font-size: 10px;
}
/* Container para el section area*/
.rze_container{
    margin: 0;
    padding: 0px 0 0px 0;
    background-color: #4d777a;
    width: 100%;
    min-height: 900px;
    position: relative;
    border-top: solid 3px #0266c8;
    border-bottom: solid 3px #0266c8;
    cursor: crosshair;
    overflow: hidden;
}
/* Widget básico */
.rze_widget{
    border: solid 1px #d0d0d0;
    background-color: #f3f3f3;
    position: absolute;
    min-height: 40px;
    min-width: 100px;
    float: left;
    width: auto;
    margin: 10px 10px 0px 20px;
    padding: 0 0 10px 0;
    height: auto;
    overflow: hidden;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}

.rze_widget > div.rze_info{
    width: 90%;
    margin: 20px 0 0 30px;
}
.rze_widget > div.rze_info > .rze_title{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color: #888888;
}

.rze_widget > div.rze_info > .rze_desc{
    font-style: italic;
    max-width: 200px;
}
.rze_widget .rze_widget{
    margin-top: 10px;
    margin-bottom: 10px;
}
.rze_widget > div.move{
    position: absolute;
    width: 15px;
    height: 100%;
    border-right: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    color: white;
    z-index: 999;
}

.rze_widget > div.move:hover{
    cursor: move;
}

.rze_widget > div.hook{
    float: right;
    width: 20px;
    height: 20px;
    border-left: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    color: white;
    background-color: gray;
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.rze_widget > span.identifier{
    position: absolute;
    left: 30px;
    top: 0;
    color: gray;
    font-size: 12px;
    font-weight: bold;
    cursor: help;
}

.rze_widget_dragging{
    border: solid 3px #ccc;
    cursor: move;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.rze_widget_hovered{
    background-color: #ADDDFF;
    border: solid 2px black;
}

.hoverClass{
    background-color: red;
}
/* Depths*/
.depth_0 > div.move{ background-color: #0266C8;}
.depth_1 > div.move{ background-color: #F90101;}
.depth_2 > div.move{ background-color: #F2B50F;}
.depth_3 > div.move{ background-color: #00933B;}
.depth_4 > div.move{ background-color: #404040;}


/* Estados */
.widget_status_off{
    background-color: #b3b3b3;
}
.widget_status_wip{
    background-color: #eceb81;    
}
.widget_status_ended{
    background-color: #8fe88f;        
}
.widget_status_problem{
    background-color: #ecca81;        
}
.widget_status_blocked{
    background-color: #ec8181;            
}

canvas{
    z-index:9999;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
}

.ui-dialog{
    z-index: 1000 !important;
}