.bisor-theme-default {
    margin-top: 4px;
}

.title,
.title p{
    color: white;
    padding:0;
    margin:0;
}

.desc{
    margin-top: 5px;
}

.big .title{
    color: white;
}
.small .title{
}
.default .title{
}


